<footer>
    <h4 class="callFooter">On s'appelle ?</h4>
    <a class="aRGPD" href="{{path('app_RGPD')}}">RGPD</a></button>
    <a class="acookie" href="{{path('app_cookie')}}">Politique des Cookies</a></button>
</footer>