<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle réservation</title>
</head>
<body>
    <h2>Une nouvelle réservation à été effectué</h2>
    <p>{{ users }} vient de faire une réservation de {{ start_date }} à {{ end_date}}</p>
</body>
</html>