{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<main>
    <h1 class='mb-5'>Réseravation</h1>
    <div id="calendar"></div>

    {# Intercepter le clic sur payer avec un JavaScript, récupérer la sélection faite dans full calendar pour la date et heure, et l'ajouter aux données envoyées
    dans le formulaire #}
    <form method="POST" action={{ path('app_payment') }}>
        <input type="hidden" name="workspaceId" value="{{ workspaceId }}" />
        <button type="submit">Payer</button>
    </form>
</main>
{% include "partials/_footer.html.twig" %}

{% endblock %}
{# {% block javascripts %}
    <script src="{{ asset('path/to/your/calendar.js') }}"></script>
{% endblock %} #}
