{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<main>
    <h1>Réseravation</h1>
</main>
{% include "partials/_footer.html.twig" %}

{% endblock %}
