body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  background: #faf2d9;
  overflow-x: hidden;
  font-weight: 300;
}

header {
  background: #ffa29a;
  height: 80px;
}

.menu-mobile {
  position: absolute;
  right: 5%;
  top: 2%;
}

.menu-close-mobile {
  position: absolute;
  right: 6.5%;
  top: 2.8%;
}

.logo {
  width: 80px;
  height: 80px;
}

.personn {
  position: absolute;
  right: 25%;
  top: 3.3%;
}

.burger {
  background: #ffa29a;
  position: relative;
  top: -4px;
  left: 30%;
  padding-left: 30px;
  border-radius: 0 0 0 20px;
}

nav > a {
  font-size: 1.4rem;
  color: #5d6371;
  text-decoration: none;
  padding: 1px;
}

@media screen and (min-width: 400px) {
  .menu-close-mobile {
    position: absolute;
    right: 5.5%;
  }
  .personn {
    right: 13%;
  }
}
main > h1 {
  text-align: center;
}

span {
  background: #b4f2e5;
}

.encart {
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
}

.p-encart {
  margin-left: 4%;
  margin-top: -2%;
}

h2 {
  margin-left: 10%;
  margin-top: 40px;
}

p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2em;
}

.photo-mobile > img {
  border-radius: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: -1px 1px 65px -4px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -1px 1px 65px -4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -1px 1px 65px -4px rgba(0, 0, 0, 0.8);
}

h3 {
  margin-left: 5%;
  margin-top: 30px;
}

.btn-rose {
  border-radius: 10px;
  background: #ffa29a;
  padding: 9px;
  margin-left: 7%;
  text-decoration: none;
  font-size: 1.2em;
  color: #5d6371;
  box-shadow: -1px 2px 7px 4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -1px 2px 7px 4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -1px 2px 7px 4px rgba(0, 0, 0, 0.28);
}

.group {
  margin-bottom: 50px;
}

.card {
  border-radius: 5px;
  background: #5d6371;
  margin: auto;
  height: 400px;
}

.card-img-top {
  width: 100%;
}

.card-body {
  color: #faf2d9;
}
.card-body > h5 {
  margin-top: 3px;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.card-text {
  margin-top: 10px;
  text-justify: auto;
}

.btn-card {
  color: #ffa29a;
  text-decoration: none;
  position: relative;
  left: 160px;
  font-size: larger;
}

.give-review {
  text-align: center;
  margin-top: 20px;
  font-size: 1.3em;
}

.give-review > a {
  color: black;
}

.key {
  animation: key 2s ease infinite;
}

@keyframes key {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.1em;
  }
  100% {
    font-size: 1em;
  }
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: 4rem;
    font-weight: 300;
  }
}
.carousel {
  position: relative;
  overflow: hidden;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
}

.review {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  left: 50%;
  width: 75%;
  height: 100%;
  border-radius: 10px;
  transform: translateX(-50%);
}

.review.active {
  opacity: 1;
}

.text-center {
  text-align: center;
}/*# sourceMappingURL=app.css.map */