{% extends 'base.html.twig' %}
{% block body %}
{% include "partials/_header.html.twig" %}
<main>
    <h1>Politique des Cookies</h1>
        <div class="rgpd">
            <p>Politique des cookies
Dernière mise à jour : 23/08/2024

Chez Evad'Espaces, <br> nous utilisons des cookies pour améliorer l’expérience utilisateur sur notre site web et optimiser nos services. Cette politique explique ce que sont les cookies, comment nous les utilisons, et comment vous pouvez les contrôler. <br>

1. Qu'est-ce qu'un cookie ?
Un cookie est un petit fichier texte enregistré sur votre appareil (ordinateur, smartphone, tablette) lorsque vous visitez un site web. Il permet au site de reconnaître votre appareil et de se souvenir de certaines informations, comme vos préférences ou les pages que vous avez visitées. <br>

2. Types de cookies utilisés
Nous utilisons plusieurs types de cookies sur notre site : <br>

Cookies strictement nécessaires : Ces cookies sont indispensables au bon fonctionnement du site et vous permettent d'utiliser ses fonctionnalités principales, telles que la connexion à votre compte ou la gestion des réservations. <br>

Cookies de performance et d'analyse : Ces cookies collectent des informations sur la manière dont les utilisateurs naviguent sur notre site (par exemple, les pages les plus visitées) afin d'optimiser la performance du site. Nous utilisons notamment Google Analytics pour analyser les données de trafic. <br>

Cookies de fonctionnalité : Ces cookies permettent de mémoriser vos choix (comme la langue ou la région) et de vous offrir une expérience plus personnalisée. <br>

Cookies de publicité : Ces cookies sont utilisés pour afficher des publicités personnalisées en fonction de vos centres d'intérêt. Ils peuvent également être utilisés pour limiter le nombre de fois qu'une publicité s'affiche et pour mesurer l'efficacité d'une campagne publicitaire. <br>

3. Comment utilisons-nous les cookies ?
Nous utilisons les cookies pour : <br>

Mémoriser vos préférences de navigation et vos paramètres.
Analyser l'utilisation de notre site afin d'en améliorer la performance et le contenu.
Vous offrir des services personnalisés en fonction de vos intérêts et de vos besoins.
Gérer et mesurer nos campagnes publicitaires. <br>
4. Gestion des cookies
Lors de votre première visite sur notre site, une bannière vous informe de l'utilisation des cookies et vous propose de les accepter ou de les paramétrer selon vos préférences. Vous pouvez modifier à tout moment vos choix concernant les cookies via les paramètres de votre navigateur. <br>

5. Comment désactiver les cookies ?
Vous pouvez configurer votre navigateur pour bloquer ou supprimer les cookies : <br>

Sur Google Chrome : Paramètres des cookies sur Chrome
Sur Mozilla Firefox : Paramètres des cookies sur Firefox
Sur Safari : Paramètres des cookies sur Safari
Sur Internet Explorer : Paramètres des cookies sur Internet Explorer
Veuillez noter que la désactivation de certains cookies peut affecter la fonctionnalité du site et limiter votre accès à certaines fonctionnalités. <br>

6. Durée de conservation des cookies
Les cookies sont conservés pour une durée maximale de 13 mois à compter de leur dépôt sur votre appareil. Au-delà de cette période, votre consentement sera à nouveau sollicité. <br>

7. Contact
Pour toute question concernant l’utilisation des cookies sur notre site ou pour exercer vos droits en matière de protection des données, vous pouvez nous contacter à l'adresse suivante : <br>

Email : [Adresse e-mail] <br>
Adresse postale : [Adresse]</p>
    </main>
{% include "partials/_footer.html.twig" %}
{% endblock %}