{% extends 'base.html.twig' %}

{% block title %}Salles de réunion{% endblock %}
{% block body %}
{% include "partials/_header.html.twig" %}
<main>
<h1>Salles de réunion</h1>
<div class="text text-w mt-5 mb-5">
    <p>Réunion, formation, séminaire… À chaque rencontre un lieu idéal ! Au sein de nos espaces, profitez de salles chaleureuses à la décoration soignée, un cadre idéal pour recevoir vos équipes, vos prospects, vos clients en toutes circonstances !</p>
</div>
</main>
{% include "partials/_footer.html.twig" %}

{% endblock %}