{% extends 'base.html.twig' %}

{% block title %}Evad'atelier{% endblock %}
{% block body %}
{% include "partials/_header.html.twig" %}
<main>
<h1>Les ateliers</h1>
<div class="text text-w mt-5 mb-5">
    
</div>
</main>
{% include "partials/_footer.html.twig" %}

{% endblock %}