{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<main>
    <h1>Choisissez votre bureau !</h1>
    <div class="multiCard">
    <div class="cards">
      <div class="content">
        <div class="titles">Bureau partagés</div>
        <div class="price">39.99€</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
      </div>
        <button>
          Reserver
        </button>
  </div>

  <div class="cards">
      <div class="content">
        <div class="titles">Personal edition</div>
        <div class="price">$39.99</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
      </div>
        <button>
          Buy now
        </button>
  </div>

  <div class="cards">
      <div class="content">
        <div class="titles">Personal edition</div>
        <div class="price">$39.99</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
      </div>
        <button>
          Buy now
        </button>
  </div>
    </div>
</main>
{% include "partials/_footer.html.twig" %}
{% endblock %}
