{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<main>
    <h1>Vous avez bien réservé, merci</h1>
</main>
{% include "partials/_footer.html.twig" %}
{% endblock %}
